In [1]:
import os
# Aggregated Transactions
path="C:/Users/ABINASH/Desktop/ABINASH DS/VS Code/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)

In [2]:
import pandas as pd
import json

lis_t = {'State':[],'Year':[],'Quater':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}

for state in Agg_state_list:
  p_i = path + state + "/"
  Agg_y = os.listdir(p_i)
  for year in Agg_y:
    p_y = p_i + year + "/"
    Agg_q = os.listdir(p_y)
    for quater in Agg_q:
      p_q = p_y + quater
      Data = open(p_q,'r')
      D=json.load(Data)
      for s in D["data"]["transactionData"]:
        Name = s["name"]
        Type = s["paymentInstruments"][0]["type"]
        Count = s["paymentInstruments"][0]["count"]
        Amount = s["paymentInstruments"][0]["amount"]
        lis_t['Transaction_type'].append(Type)
        lis_t['Transaction_count'].append(Count)
        lis_t['Transaction_amount'].append(Amount)
        lis_t['State'].append(state)
        lis_t['Year'].append(year)
        lis_t['Quater'].append(int(quater.strip(".json")))

Agg_Data = pd.DataFrame(lis_t)

In [3]:
# Aggregated User
path_1="C:/Users/ABINASH/Desktop/ABINASH DS/VS Code/pulse/data/aggregated/user/country/india/state/"
Agg_state_list_1=os.listdir(path_1)

In [4]:
from pprint import pprint
lis_t1 = {'State':[],'Year':[],'Quater':[],'brand':[],'count':[],'percentage':[]}

for state in Agg_state_list_1:
    p_i = path_1 + state + "/"
    Agg_y = os.listdir(p_i)
    for year in Agg_y:
      p_y = p_i + year + "/"
      Agg_q = os.listdir(p_y)
      for quater in Agg_q:
        p_q = p_y + quater
        Data = open(p_q,'r')
        D=json.load(Data)
        try:
          for s in D["data"]['usersByDevice']:
              Brand_Name = s['brand']
              Count = s['count']
              Percentage = s['percentage']
              lis_t1['State'].append(state)
              lis_t1['Year'].append(year)
              lis_t1['Quater'].append(int(quater.strip(".json")))
              lis_t1['brand'].append(Brand_Name)
              lis_t1['count'].append(Count)
              lis_t1['percentage'].append(Percentage)
        except:
            pass
Agg_Data_1 = pd.DataFrame(lis_t1)

In [4]:
# Map Trans
path_2="C:/Users/ABINASH/Desktop/ABINASH DS/VS Code/pulse/data/map/transaction/hover/country/india/state/"
Agg_state_list_2=os.listdir(path_2)

In [5]:
lis_t2 = {'State':[],'Year':[],'Quater':[],'Transaction_count':[],'Transaction_amount':[]}

for state in Agg_state_list_2:
  p_i = path_2 + state + "/"
  Agg_y = os.listdir(p_i)
  for year in Agg_y:
    p_y = p_i + year + "/"
    Agg_q = os.listdir(p_y)
    for quater in Agg_q:
      p_q = p_y + quater
      Data = open(p_q,'r')
      D=json.load(Data)
      for s in D['data']['hoverDataList']:
        Amount = s['metric'][0]['amount']
        Count = s['metric'][0]['count']
        lis_t2['State'].append(state)
        lis_t2['Year'].append(year)
        lis_t2['Quater'].append(int(quater.strip(".json")))
        lis_t2['Transaction_count'].append(Count)
        lis_t2['Transaction_amount'].append(Amount)

Agg_Data_2 = pd.DataFrame(lis_t2)

In [10]:
# Map User
path_3="C:/Users/ABINASH/Desktop/ABINASH DS/VS Code/pulse/data/map/user/hover/country/india/state/"
Agg_state_list_3=os.listdir(path_3)

In [11]:
lis_t3 = {'State':[],'Year':[],'Quater':[],'Districts':[],'Appopens':[],'Registered_Users':[]}

for state in Agg_state_list_3:
  p_i = path_3 + state + "/"
  Agg_y = os.listdir(p_i)
  for year in Agg_y:
    p_y = p_i + year + "/"
    Agg_q = os.listdir(p_y)
    for quater in Agg_q:
      p_q = p_y + quater
      Data = open(p_q,'r')
      D=json.load(Data)
      for s in D['data']['hoverData'].items():
        Districts = s[0]
        Appopens = s[1]['appOpens']
        Registered_Users = s[1]['registeredUsers']
        lis_t3['State'].append(state)
        lis_t3['Year'].append(year)
        lis_t3['Quater'].append(int(quater.strip(".json")))
        lis_t3['Districts'].append(Districts)
        lis_t3['Appopens'].append(Appopens)
        lis_t3['Registered_Users'].append(Registered_Users)
        
Agg_Data_3 = pd.DataFrame(lis_t3)

In [3]:
# Top Trans
path_4="C:/Users/ABINASH/Desktop/ABINASH DS/VS Code/pulse/data/top/transaction/country/india/state/"
Agg_state_list_4=os.listdir(path_4)

In [4]:
lis_t4 = {'State':[],'Year':[],'Quater':[],'Entity_Name':[],'Amount':[],'Count':[]}

for state in Agg_state_list_4:
  p_i = path_4 + state + "/"
  Agg_y = os.listdir(p_i)
  for year in Agg_y:
    p_y = p_i + year + "/"
    Agg_q = os.listdir(p_y)
    for quater in Agg_q:
      p_q = p_y + quater
      Data = open(p_q,'r')
      D=json.load(Data)
      for s in D['data']['districts']:
        Entity_Name = s['entityName']
        Amount = s['metric']['amount']
        Count = s['metric']['count']
        lis_t4['State'].append(state)
        lis_t4['Year'].append(year)
        lis_t4['Quater'].append(int(quater.strip(".json")))
        lis_t4['Entity_Name'].append(Entity_Name)
        lis_t4['Amount'].append(Amount)
        lis_t4['Count'].append(Count)

Agg_Data_4 = pd.DataFrame(lis_t4)

In [5]:
# Top User
path_5="C:/Users/ABINASH/Desktop/ABINASH DS/VS Code/pulse/data/top/user/country/india/state/"
Agg_state_list_5=os.listdir(path_5)

In [6]:
lis_t5 = {'State':[],'Year':[],'Quater':[],'Name':[],'Registered_Users':[],}

for state in Agg_state_list_5:
  p_i = path_5 + state + "/"
  Agg_y = os.listdir(p_i)
  for year in Agg_y:
    p_y = p_i + year + "/"
    Agg_q = os.listdir(p_y)
    for quater in Agg_q:
      p_q = p_y + quater
      Data = open(p_q,'r')
      D=json.load(Data)
      # pprint(D)
      for s in D['data']['pincodes']:
        Name = s['name']
        Registered_Users = s['registeredUsers']
        lis_t5['State'].append(state)
        lis_t5['Year'].append(year)
        lis_t5['Quater'].append(int(quater.strip(".json")))
        lis_t5['Name'].append(Name)
        lis_t5['Registered_Users'].append(Registered_Users)

Agg_Data_5 = pd.DataFrame(lis_t5)

In [7]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  user="root",
  password="",
  database='PhonePe'

)

In [8]:
mycursor=mydb.cursor(buffered=True)

In [18]:
# Aggregate Trans
try:
    Create_1 = """CREATE TABLE Aggregate_Trans (State VARCHAR(20),Year INT(4),
                                            Quater INT(2),Transaction_type VARCHAR(40),
                                            Transaction_count INT(100),Transaction_amount INT(100))"""
    mycursor.execute(Create_1)
    mydb.commit()
    
except:
    "Table already created"

for index,row in Agg_Data.iterrows():
    Insert_1 = """INSERT INTO Aggregate_Trans (State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount) VALUES(%s,%s,%s,%s,%s,%s)"""


    Values_1 = (row['State'],
                row['Year'],
                row['Quater'],
                row['Transaction_type'],
                row['Transaction_count'],
                row['Transaction_amount'])
    try:
        mycursor.execute(Insert_1,Values_1)
        mydb.commit()

    except:
        pass

In [16]:
# Aggregate User
Create_2 = """CREATE TABLE Aggregate_User (State VARCHAR(20),
                                           Year INT(4), Quater INT(4),
                                           brand VARCHAR(80), count INT(100),
                                           percentage FLOAT(20))"""
mycursor.execute(Create_2)
mydb.commit()

for index,row in Agg_Data_1.iterrows():
    Insert_2 = """INSERT INTO Aggregate_User (State,Year,Quater,brand,count,percentage) VALUES(%s,%s,%s,%s,%s,%s)"""

    Values_2 = (row['State'],
                row['Year'],
                row['Quater'],
                row['brand'],
                row['count'],
                row['percentage'])

    mycursor.execute(Insert_2,Values_2)
    mydb.commit()

In [9]:
# Map Trans
Create_3 = """CREATE TABLE Map_Transaction (State VARCHAR(20),
                                           Year INT(4), Quater INT(4),
                                           Transaction_count INT(100),
                                           Transaction_amount FLOAT(20))"""
mycursor.execute(Create_3)
mydb.commit()

for index,row in Agg_Data_2.iterrows():
    Insert_3 = """INSERT INTO Map_Transaction (State,Year,Quater,Transaction_count,Transaction_amount) VALUES(%s,%s,%s,%s,%s)"""

    Values_3 = (row['State'],
                row['Year'],
                row['Quater'],
                row['Transaction_count'],
                row['Transaction_amount'])

    mycursor.execute(Insert_3,Values_3)
    mydb.commit()

In [13]:
# Map User
Create_4 = """CREATE TABLE Map_User (State VARCHAR(20),
                                     Year INT(4), Quater INT(4),
                                     Districts VARCHAR(40),
                                     Appopens INT(20),Registered_Users INT(20))"""
mycursor.execute(Create_4)
mydb.commit()

for index,row in Agg_Data_3.iterrows():
    Insert_4 = """INSERT INTO Map_User (State,Year,Quater,Districts,Appopens,Registered_Users) VALUES(%s,%s,%s,%s,%s,%s)"""

    Values_4 = (row['State'],
                row['Year'],
                row['Quater'],
                row['Districts'],
                row['Appopens'],
                row['Registered_Users'])

    mycursor.execute(Insert_4,Values_4)
    mydb.commit()

In [9]:
# Top Trans
Create_5 = """CREATE TABLE Top_Trans (State VARCHAR(20),
                                     Year INT(4), Quater INT(4),
                                     Entity_Name VARCHAR(40),
                                     Amount INT(20),Count INT(20))"""
mycursor.execute(Create_5)
mydb.commit()

for index,row in Agg_Data_4.iterrows():
    Insert_5 = """INSERT INTO Top_Trans (State,Year,Quater,Entity_Name,Amount,Count) VALUES(%s,%s,%s,%s,%s,%s)"""

    Values_5 = (row['State'],
                row['Year'],
                row['Quater'],
                row['Entity_Name'],
                row['Amount'],
                row['Count'])

    mycursor.execute(Insert_5,Values_5)
    mydb.commit()

In [11]:
# Top user
Create_6 = """CREATE TABLE Top_User (State VARCHAR(20),
                                     Year INT(4), Quater INT(4),
                                     Name VARCHAR(40),
                                     Registered_Users INT(20))"""
mycursor.execute(Create_6)
mydb.commit()

for index,row in Agg_Data_5.iterrows():
    Insert_6 = """INSERT INTO Top_User (State,Year,Quater,Name,Registered_Users) VALUES(%s,%s,%s,%s,%s)"""

    Values_6 = (row['State'],
                row['Year'],
                row['Quater'],
                row['Name'],
                row['Registered_Users'])

    mycursor.execute(Insert_6,Values_6)
    mydb.commit()